###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums = [1, 2, 3, 4]
nums

[1, 2, 3, 4]

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [3]:
nums = [1, 2, 3, 4]
nums.remove(3)
nums

[1, 2, 4]

In [31]:
# Method 1

[1, 2, 4]

In [5]:
nums = [1, 2, 3, 4]
nums = [x for x in nums if x != 3]
nums

[1, 2, 4]

In [14]:
# Method 2

[1, 2, 4]

In [6]:
nums = [1, 2, 3, 4]
nums = nums[:nums.index(3)] + nums[nums.index(3) + 1:]
nums

[1, 2, 4]

In [16]:
# Method 3

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [7]:
lst = [2, 3, 4]
lst.insert(0, 1)
lst

[1, 2, 3, 4]

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [9]:
lst = [1, 2, 3, 4]
lst.insert(2, "two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [10]:
phrase = "Don't panic!"
char_list = []

for char in phrase:
    char_list.append(char)

print(char_list)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [38]:
# CODE HERE

*convert into list*

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [11]:
char_list = ["D", "o", "n", "'", "t", " ", "p", "a", "n", "i", "c", "!"]

filtered_list = [char for char in char_list if char not in ("'", "!")]

print(filtered_list)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [16]:
char_list = ["D", "o", "n", "t", " ", "p", "a", "n", "i", "c"]

# Remove "p", "a", "n", and "D"
removed_chars = [char for char in char_list if char in ("p", "a", "n", "D")]
char_list = [char for char in char_list if char not in ("p", "a", "n", "D")]

# Extend the removed characters at the end
char_list.extend(removed_chars)

print(char_list)

['o', 't', ' ', 'i', 'c', 'D', 'n', 'p', 'a', 'n']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [17]:
char_list = ['p', 'a', 'n', 'D', 'a']
joined_string = ''.join(char_list)

print(joined_string)

panDa

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [18]:
nums = (31, 24, 35, 85)
nums

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [19]:
# Create the original tuple
nums = (31, 24, 35, 85)

# Convert the tuple to a list
nums_list = list(nums)

# Remove the number "35" from the list
nums_list.remove(35)

# Convert the list back to a tuple
nums = tuple(nums_list)

print(nums)

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [22]:
# Create the original tuple
nums = (31, 24, 35, 85)

# Convert the tuple to a list
nums_list = list(nums)

# Remove the number "35" from the list
nums_list.remove(35)

# Convert the list back to a tuple
nums = tuple(nums_list)

# Extend the tuple with (42, 56)
extension = (85, 19)
nums = nums + extension

print(nums)

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [24]:
tpl = ('i', 'n', 'n', '0')
element_exists = 'i' in tpl

print(element_exists)

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [30]:
my_list = ['Hello', 100, [], 'innomatics']

# Replace the value at index 2 with a new value
my_list[2] = [200]

# Insert a value at a specific index (e.g., index 1)


print(my_list)

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [32]:
# Original tuple
original_tuple = ("Innomatics")

# Reverse the tuple using slicing
reversed_tuple = original_tuple[::-1]

# Print the reversed tuple
print(reversed_tuple)

scitamonnI

In [6]:
# CODE HERE
tpl = ("Innomatics")

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [33]:
# Original list of tuples
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Value to add to each tuple
new_value = 100

# Iterate through each tuple and add the new value to the last position
for i in range(len(tpl)):
    tpl[i] = tpl[i] + (new_value,)

# Print the updated list of tuples
print(tpl)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [34]:
# Original list of tuples
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Value to replace the last element with
new_value = 100

# Iterate through each tuple and replace the last value
for i in range(len(tpl)):
    tpl[i] = tpl[i][:2] + (new_value,)

# Print the updated list of tuples
print(tpl)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [38]:
# Input string
input_str = '5 2 4 6 2 2'

# Split the string into a list of numbers
numbers = [int(num) for num in input_str.split()]

# Print the original list of numbers
print( ' '.join(map(str, numbers)))

# Remove duplicates and sort the list in descending order
unique_sorted_numbers = sorted(set(numbers), reverse=True)

# Check if there is a second highest value
if len(unique_sorted_numbers) >= 2:
    second_highest = unique_sorted_numbers[1]
    print(f"Second highest is: {second_highest}")
else:
    print("There is no second highest value in the list.")

5 2 4 6 2 2
Second highest is: 5

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [39]:
original_list = [12, 24, 35, 70, 88, 120, 155]

# Use list comprehension to remove the specified indices
filtered_list = [original_list[i] for i in range(len(original_list)) if i not in (0, 4, 5)]

print(filtered_list)

[24, 35, 70, 155]

In [3]:
# CODE HERE

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [41]:
# Given tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Calculate the length of the tuple
length = len(my_tuple)

# Calculate the index to split the tuple into two halves
split_index = length // 2

# Create two separate tuples for the first and second halves
first_half = my_tuple[:split_index]
second_half = my_tuple[split_index:]

# Print the two halves as separate tuples
print(first_half)
print(second_half)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [42]:
# Given tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Use list comprehension to extract even numbers and convert them to a tuple
even_numbers_tuple = tuple(x for x in original_tuple if x % 2 == 0)

# Print the tuple of even numbers
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

Lists and tuples are both used to store collections of items in Python, but they have some key differences:

1. **Mutability**:
   - **List**: Lists are mutable, which means you can change their content (add, remove, or modify elements) after they are created. You can use methods like `append()`, `insert()`, `pop()`, and `remove()` to modify a list.
   - **Tuple**: Tuples are immutable, meaning once you create a tuple, you cannot change its elements. You cannot add, remove, or modify elements in a tuple. This immutability provides some safety and performance benefits.

2. **Syntax**:
   - **List**: Lists are defined using square brackets `[]`. For example: `my_list = [1, 2, 3]`.
   - **Tuple**: Tuples are defined using parentheses `()`. For example: `my_tuple = (1, 2, 3)`.

3. **Performance**:
   - **List**: Lists, being mutable, can be less memory-efficient and slower for certain operations compared to tuples. This is because lists may need to reallocate memory when their size changes.
   - **Tuple**: Tuples, being immutable, are more memory-efficient and can be faster for certain operations since their size is fixed.

4. **Use Cases**:
   - **List**: Lists are typically used when you need a collection of items that can change (e.g., a to-do list that you can add and remove items from).
   - **Tuple**: Tuples are used when you want to create a collection of items that should not change (e.g., coordinates of a point, components of a date).

5. **Iteration**:
   - **List**: Lists can be iterated using a `for` loop or other iteration techniques.
   - **Tuple**: Tuples can also be iterated using a `for` loop, just like lists.

6. **Hashability**:
   - **List**: Lists are not hashable, which means you cannot use them as keys in dictionaries or elements in sets because they can be changed.
   - **Tuple**: Tuples are hashable, so you can use them as keys in dictionaries or elements in sets, provided that the elements inside the tuple are also hashable.

In summary, the main difference between lists and tuples is that lists are mutable, while tuples are immutable. You choose between them based on whether you need a collection of items that can change or a collection of items that should remain constant.

In [ ]:
# Solution

### 2. Explain the difference between append() and extend() with examples

`append()` and `extend()` are two methods in Python used to add elements to lists, but they have different behaviors:

1. **`append()`**:
   - `append()` is used to add a single element to the end of a list.
   - The argument to `append()` is the element itself, not a sequence or iterable.

   ```python
   my_list = [1, 2, 3]
   my_list.append(4)  # Adds the integer 4 to the end of the list
   ```

   After this code, `my_list` would be `[1, 2, 3, 4]`.

2. **`extend()`**:
   - `extend()` is used to add multiple elements to the end of a list by extending it with elements from an iterable (e.g., a list, tuple, string, etc.).
   - It takes an iterable (e.g., a list, tuple, string) as an argument and adds all the elements from that iterable to the end of the list.

   ```python
   my_list = [1, 2, 3]
   my_list.extend([4, 5, 6])  # Extends the list with elements from the iterable [4, 5, 6]
   ```

   After this code, `my_list` would be `[1, 2, 3, 4, 5, 6]`.

In summary:

- `append()` adds a single element to the end of the list.
- `extend()` adds multiple elements to the end of the list by extending it with elements from an iterable.

In [ ]:
# Solution

### 3. Explain the difference between pop() and remove() with examples

`pop()` and `remove()` are two different methods used for modifying lists in Python. They have distinct purposes and behaviors:

1. **`pop()`**:
   - `pop()` is used to remove and return the element at a specific index from a list.
   - It takes an optional index as an argument, and if the index is not provided, it removes and returns the last element by default.
   - `pop()` is commonly used when you want to remove an element from a list and also use or store the removed element.

   ```python
   my_list = [1, 2, 3, 4, 5]
   removed_element = my_list.pop(2)  # Removes and returns the element at index 2 (which is 3)
   ```

   After this code, `my_list` would be `[1, 2, 4, 5]`, and `removed_element` would be `3`.

2. **`remove()`**:
   - `remove()` is used to remove the first occurrence of a specified element from a list.
   - It takes the element you want to remove as an argument.
   - `remove()` is commonly used when you know the value you want to remove but not its index.

   ```python
   my_list = [1, 2, 3, 4, 5]
   my_list.remove(3)  # Removes the first occurrence of the value 3
   ```

   After this code, `my_list` would be `[1, 2, 4, 5]`.

In summary:

- `pop()` removes and returns an element based on its index and is often used when you need to retrieve and use the removed element.
- `remove()` removes the first occurrence of a specified element based on its value and is used when you know the value you want to remove but not its index.

In [ ]:
# Solution